<footer class="footer footer-default">
  <div class="container">
    <nav class="float-left">
      <ul>
        <li>
          <a href="/">
            Alberto Castaño
          </a>
        </li>
        <li>
          <button onclick="location.href='https://www.linkedin.com/in/alberto-casta%C3%B1o-4aa710b6/'" class="btn btn-link btn-linkedin">
            <i class="fa fa-linkedin-square"></i> Connect
          </button>
        </li>
        <li>
          <button onclick="location.href='https://github.com/bertocast'" class="btn btn-link btn-github">
            <i class="fa fa-github"></i> Connect
          </button>
        </li>
        <li>
          <button onclick="location.href='https://medium.com/@bertocast'" class="btn btn-link btn-medium">
            <i class="fa fa-medium"></i> Connect
          </button>
        </li>
      </ul>
    </nav>
    <div class="copyright float-right">
      &copy; 2018
    </div>
  </div>
</footer>
